<div class="row">
  <a (click)="clicked($event)" >
    <div class="col-lg-4">
      <img src="{{ thread.avatarSrc }}"/>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <h4>{{ thread.name }}</h4>
      </div>
      <div class="row">
        <p>{{ thread.lastMessage.text }}</p>
      </div>
    </div>
  </a>
</div>
