<div class="msg-bottom-right">
  <div class="row">
    <h3>chat- {{ currentThread.name }}</h3>
  </div>
  <div class="row">
    <div class="msg-container-base">
      <app-chat-message *ngFor="let message of messages | async" [message]="message"></app-chat-message>
    </div>
  </div>
  <div class="row">
      <input type="text" placeholder="write message ...."
             (keydown.enter)="onEnter($event)"
             [(ngModel)]="draftMessage.text"/>
      <a class="btn btn-primary" (click)="onEnter($event)">send</a>
  </div>
</div>
