<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-chat-threads></app-chat-threads>
    </div>
    <div class="col-md-6">
      <app-chat-window style="float:right"></app-chat-window>
    </div>
    </div>
</div>
