<div class="row">
  <div class="col-lg-3" *ngIf="!incoming">
    <img src="{{ message.author.avatarSrc }}"/>
  </div>
  <div class="col-lg-6">
    <p>{{ message.text }}</p>
    <p> {{ message.sentAt  }}</p>
  </div>
  <div class="col-lg-3" *ngIf="incoming">
    <img src="{{ message.author.avatarSrc }}"/>
  </div>
</div>
